{% extends 'base.html' %}
{% block content %}





<div class="d-flex flex-row">
    <div class="p-2">
        Password Generator
    </div>
</div>


<div class="d-flex align-items-center">
    <div class="p-2">
        <form action="{% url 'password' %}">

            <select name="length" id="length">
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10" selected='selected'>10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select><br>
            <input type="checkbox" name="number"> Number <br>
            <input type="checkbox" name="uppercase"> Uppercase <br>
            <input type="checkbox" name="special"> Special <br>


            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>








{% endblock %}